
.content{
    background: black;
    /*padding: 30px 10px;*/
    padding: 30px 150px;
}
.content .text, h1{
    color: white;
}

.content li{
padding: 10px;
}

h1 {
     font-size: 36px;
     margin-bottom: 30px;
     text-align: center;
 }

ul {
     list-style: none;
     margin: 0;
     padding: 0;
 }

.content li:before {
    content: '• ';
    color: #2AA5A0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}



footer{
    background: black;
}
