* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: Roboto, Arial, sans-serif;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

h1, h2, h3, h4, p, a, span, li, input, textarea, button, img {
  position: relative;
  z-index: 4;
}

header {
  /* background: #1a1a1a; */
  background: black;
  height: 100vh;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  /* padding: 20px 30px; */
  overflow: hidden;
}

header .header_nav {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 20px 30px;
}

header .burger .line {
  height: 2px;
  width: 20px;
  background: white;
  margin: 3px 0;
  border-radius: 20px;
}

header .text {
  text-align: center;
}

header .text h1 {
  font-size: 180px;
  background-image: linear-gradient(90deg, #9453e3, #2AA5A0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: 4;
}

header .text p {
  margin-top: 60px;
}

.header_nav p {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'CHAKRA', Arial, sans-serif;
  position: relative;
  z-index: 4;
}

header .text a {
  color: white;
  font-size: 40px;
  margin-top: 20px;
  position: relative;
  z-index: 4;
}

header .text .blue {
  color: rgb(0, 87, 183);
}

header .text .yellow {
  color: rgb(255, 215, 0);
}

header .scroll p {
  text-align: center;
  color: white;
  position: relative;
  z-index: 4;
}

.scroll p:after {
  content: "";
  display: block;
  height: 50px;
  width: 4px;
  background: linear-gradient(45deg, #9453e3, #2AA5A0);
  margin: auto;
  position: relative;
  animation-name: scroll;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: alternate;
}

@keyframes scroll {
  0% {
    top: 0px;
  }

  50% {
    top: 50px;
  }

  100% {
    top: 0px;
  }
}

header .scroll {
  padding-bottom: 10px;
}

.paralax_wrapper {
  position: relative;
  z-index: 4;
  background: white;
  padding: 50px 200px;
}

.paralax_wrapper .img {
  min-height: 600px;
  min-width: 500px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: auto 800px;
}

.service {
  display: grid;
  grid-template-columns: 1fr auto;
}

.service .textwrapper {
  position: relative;
}

.service .text {
  color: white;
  background-color: black;
  padding: 40px;
  border-radius: 50px;
  width: 600px;
  position: absolute;
  right: -50px;
  top: 50%;
  margin-top: -25%;
  margin-right: -50px;
  /* transform: translateY(-50%); */
}

.service .text h3 {
  text-align: center;
}

.service .text h4 {
  text-align: center;
}

.service .img {
  background-image: url("2.JPG");
  background-position-x: 50vw;
}

.smm {
  display: grid;
  grid-template-columns: auto 1fr;
}

.smm .text2 h3 {
  text-align: center;
}

.smm .text2 h4 {
  text-align: center;
}

.smm .img {
  background-image: url("1.png");
  background-position-x: 200px;
}

.smm .textwrapper {
  position: relative;
}

.smm .text {
  color: white;
  background-color: black;
  padding: 40px;
  border-radius: 50px;
  width: 600px;
  position: absolute;
  left: -50px;
  top: 50%;
  margin-top: -25%;
  margin-left: -100px;
  /* transform: translateY(-50%); */
}

.RequestAProposal {
  padding: 20px;
}

.RequestAProposal form {
  display: grid;
  width: 600px;
  margin: auto;
  grid-gap: 15px;
}

.RequestAProposal h2 {
  font-size: 30px;
  text-align: center;
  font-family: 'CHAKRA', Arial, sans-serif;
  color: white;
  margin-bottom: 25px;
  margin-top: 10px;
}

.RequestAProposal input, .RequestAProposal textarea {
  padding: 10px;
  border-radius: 4px;
  border: 0;
  outline: 0;
}

.RequestAProposal button {
  margin: auto;
  display: block;
  padding: 10px 35px;
  border-radius: 4px;
  background-image: linear-gradient(90deg, #9453e3, #2AA5A0);
  border: 0;
  outline: 0;
  color: white;
}

.RequestAProposal .scroll {
  padding-bottom: 55px;
}

footer {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 50px 150px;
}

.logo img {
  width: 150px;
}

.inf li {
  opacity: 0.75;
}

.inf h3, li {
  color: white;
  border-radius: 50px;
  padding: 5px 70px;
}

.inf h3 {
  padding-bottom: 10px;
  opacity: 0.5;
}

.text a {
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  color: #aaf;
  text-shadow: none;
  -webkit-transition: 500ms linear: 0s;
  -moz-transition: 500ms linear 0s;
  -o-transition: 500ms;
  linear: 0s;
  transition: 500ms;
  linear: 0s;
  outline: 0 none;
  color: #fff;
  text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
}

.textwrapper a {
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  color: #aaf;
  text-shadow: none;
  -webkit-transition: 500ms linear: 0s;
  -moz-transition: 500ms linear 0s;
  -o-transition: 500ms;
  linear: 0s;
  transition: 500ms;
  linear: 0s;
  outline: 0 none;
  color: #fff;
  text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
}

@media screen and (max-width: 1030px) {
  .paralax_wrapper {
    padding: 20px;
  }

  .paralax_wrapper .img {
    max-width: 400px;
    width: 400px;
    min-width: 400px;
    background-size: auto 713px;
  }

  .service .img {
    background-position-x: calc(100vw - 400px - 20px);
  }

  .smm .img {
    background-position-x: 20px;
  }
}

@media screen and (max-width: 450px) {
  header .header_nav p {
    font-size: 20px;
  }

  header .text h1 {
    font-size: 80px;
  }

  header .text a {
    font-size: 25px;
  }

  .paralax_wrapper {
    display: block;
  }

  .paralax_wrapper .textwrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .paralax_wrapper .text {
    position: static;
    width: 350px;
    margin: 0;
  }
  .paralax_wrapper .img {
    max-width: 100%;
    width: 100%;
    min-width: 100%;
    background-size: auto 600px;
    background-attachment: fixed;
  }
  .RequestAProposal form {
    width: 90%;
  }
  footer{
    padding: 50px 20px 150px;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
    align-items: center;
  }
  footer .inf h3{
    font-size: 14px;
  }
  footer .inf *{
    padding-left: 0;
    padding-right: 0;
font-size: 14px;
  }
  footer .logo img{
    width: 100px;
  }

}
